/* Colors for site #DEC183 #BAA26E #E6C887 #99855A #786847 #544932 #9474A1 */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


body{
    background-color: aliceblue;
    text-align: center;
    margin: 0 auto;
}

header{
    text-align: center;   
    margin-top: 150px;
    margin-bottom: 150px;
}

h1{
    color: #9474a1;
    font-family: "Dancing Script";
    font-size: 80px;   
    margin-bottom: 75px;
    margin-top: -50px;
}

h3{
  font-size: 60px;
  color: #9474a1;
  font-family: "Dancing Script";
}

nav a{
    text-decoration: none;
    font-size: 40px;
    margin-right: 60px;
    color: #9474a1;
    padding: 10px;
    text-align: center;
}

nav a:hover{
    background-color: #9474a1;
    border-radius: 8px;
    color: #baa26e;
}

.blogphotos{
  width: 100%;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 60%;
  position: relative;
  margin: auto;
  width: 90%;
  height: 500px;
  margin-bottom: 250px;
}

/* Hide the images by default */
.mySlides {
  display: none;
  margin-top: 100px;
}

.cimages{
    width: 90%;
    border-radius: 20px;
}

.blogphotos img{
  width: 25%;
}

.services{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.servicesphoto1{
  width: 400px;
  height: 275px;
  align-self: center;
  grid-column: 2/4;
  grid-row: 1/2;
}

.servicesphoto1{
  border: 10px solid #9474a1;
  transition: transform .5s;
  box-shadow: 5px 5px 10px #6f7364;
}

.servicesphoto1:hover {
  opacity: .6;
  transform: scale(1.1);
}

.servicesphoto2{
  width: 400px;
  height: 275px;
  align-self: center;
  grid-column: 8/10;
  grid-row: 1/2;
}

.servicesphoto2{
  border: 10px solid #9474a1;
  transition: transform .5s;
  box-shadow: 5px 5px 10px #6f7364;
}

.servicesphoto2:hover {
  opacity: .6;
  transform: scale(1.1);
}

.servicesphoto3{
  width: 300px;
  height: 450px;
  grid-column: 5/7;
  grid-row: 1/2;
}

.servicesphoto3{
  border: 10px solid #9474a1;
  transition: transform .5s;
  box-shadow: 5px 5px 10px #6f7364;
}

.servicesphoto3:hover {
  opacity: .6;
  transform: scale(1.1);
}

.services h2{
  grid-row: 2/3;
}

#familyphotos{
  grid-column: 2/4;
}

#minisessions{
  grid-column: 8/10;
}

#seniorsessions{
  grid-column: 5/7;
}



/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


footer{
    margin-top: 250px;
    background-color: #9474a1;
}
